DerivedDataCache
Intermediate
Saved
*.hotreload
*.opensdf
*.VC.db
*.VC.openDB
*.sdf
*.sln
*.suo
*.xcodeproj
*.umap
Content/Movies/MAIN_MENU_LOOP.mov
Content/Movies/MAIN_MENU_TITLE_LOOP.mov
Content/Movies/MAIN_MENU_TITLE_INTRO.mov
*.mov
Content/Movies/LONEWOLF_FINAL_INTRO.wmv